.App {
    background: pink;
	background-image: url(img_bg_rm.jpg);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    min-width: max-content;
    padding-top: 24px;
    position: relative;
	color: white;

}
.charWrapper {
    display: flex;
    padding: 24px;
    position: relative;
}
.section {
    position: relative;
    padding-top: 100px;
}
.heading {
    left: 36px;
    top: 24px;
    position: absolute;
}
.charWrapper > div {
    padding: 24px;
    border: 1px solid #999999;
    margin: 12px;
	background-color: white;
	color: black;
}
